head, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    background: #1c1c1c;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    background: #5a5a5a;
    border-radius: 4px;
}

div {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #eaeaea;
    box-sizing: border-box;
}

.header, .main-content, .footer {
    max-width: 1100px;
    padding: 36px;
    margin: 0px auto;
}

.header {
    min-height: 300px;
    height: 100vh;
    width: 100%;
    font-size: 36px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 18px;
    position: relative;
}

#hello-splash {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    opacity: 0;

    transition: opacity 1s;

}

.header-desc {
    margin-left: 16px;
    opacity: 0;

    transition: opacity .7s;
}

#down-arrow {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    opacity: 0;
    transition: opacity .4s;
    cursor: pointer;
}

#down-arrow svg path {
    stroke: #eaeaea;
    stroke-width: 1;
    fill: none;
}

.header img {
    height: 100%;
    border-radius: 36px;
}

.main-content {
    width: 100%;
    min-height: 1000px;
}

.title {
    width: 100%;
    font-size: 28px;
}

.footer {
    width: 100%;
    height: 100px;
}

.section {
    margin: 24px 0px;
    min-height: 100vh;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 18px;
    overflow: hidden;
}

.panel {
    width: 256px;
    height: 256px;
    border: 1px solid #eaeaea;
    margin: 32px;
    border-radius: 18px;
    background: white;
    transition: transform .4s ease;
    cursor: pointer;
    overflow: hidden;
}

.panel:hover {
    transform: scale(1.2);
}

.panel:hover .blur {
    opacity: .8;
}

.panel img {
    object-fit: cover;
    width: auto;
    height: 100%;
}

.panel .blur {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#1c1c1c 20%, #313131 50%, #1c1c1c 80%);
    transition: opacity .3s linear;
}

.tools .panel {
    width: 128px;
    height: 128px;
    margin: 16px;
}

.align-right {
    text-align: right;
}

@keyframes from-left {
    0% {
        pointer-events: none;
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        pointer-events: auto;
        opacity: 1;
        transform: translateX(0px);
    }
}