@media only screen and (max-width: 768px), only screen and (max-height: 600px) {
  .cartridges-container {
    padding: 8px !important;
    margin: 48px auto auto auto !important;
  }
}

.cartridges-container {
  display: flex;
  width: 100%;
  margin: 96px auto auto auto;
  padding: 24px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.selection-made .cartridge:not(.selected) {
  pointer-events: none;
  animation: fade-out 0.6s forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
