.gameboy {
  width: 192px;
  height: 128px;
  border-radius: 32px;
  background: white;
  margin: auto auto auto 64px;
  transform: rotate(-25deg);
  cursor: pointer;
  transition: transform 0.6s;

  animation: init-gameboy-anim 0.6s 1 forwards;
}

.gameboy:hover {
  transform: rotate(0deg) scale(1.2);
}

@keyframes init-gameboy-anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.game-selected {
  position: absolute;
  animation: gameboy-selected-anim 1.3s 1 forwards;
}

@keyframes gameboy-selected-anim {
  0% {
    top: calc(50% - 64px);
    left: 64px;
  }

  53% {
    top: calc(50% - 64px);
    left: calc(50% - 160px);
    transform: rotate(0deg);
  }

  65% {
    top: calc(50% - 64px);
  }

  69% {
    top: calc(50% - 32px);
  }

  100% {
    top: calc(50% - 64px);
    left: calc(50% - 160px);
    transform: rotate(0deg);
  }
}
