.gameboy {
  width: 256px;
  height: 128px;
  border-radius: 48px;
  background: white;
  margin: auto auto 36px auto;
  cursor: pointer;
  transition: transform 0.6s;

  animation: init-gameboy-anim 0.6s 1 forwards;
}

.screen-only {
  width: 100%;
  height: calc(100% + 66px);
  position: absolute;
  top: -66px;
  background: red;

  animation: fade-in 1s forwards;
}

.gameboy:hover {
  transform: rotate(0deg) scale(1.2);
}

@keyframes init-gameboy-anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.game-selected {
  position: absolute;
  pointer-events: none;
  animation: gameboy-selected-anim 1.3s forwards;
}

.zoom-in {
  pointer-events: none;
  position: absolute;
  animation: zoom-in-anim 1.2s linear forwards;
}

@keyframes gameboy-selected-anim {
  0% {
    left: calc(50% - 128px);
    bottom: 36px;
  }

  63% {
    bottom: calc(50% - 96px);
  }

  70% {
    bottom: calc(50% - 160px);
  }

  100% {
    left: calc(50% - 128px);
    bottom: calc(50% - 96px);
  }
}

@keyframes zoom-in-anim {
  0% {
    left: calc(50% - 128px);
    bottom: calc(50% - 96px);
    pointer-events: none;

    transform: scale(1);
  }

  100% {
    left: calc(50% - 128px);
    bottom: calc(50% - 96px);
    pointer-events: none;

    transform: scale(11);
  }
}

@keyframes fade-in {
  0% {
    background: #eaeaea;
  }

  100% {
    background: red;
  }
}
